<h2>Редактирование "<%= resource_name.to_s.humanize %>"</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div><br />

  <div><%= f.label :password %> <i>(Оставьте это поле пустым, если не хотите менять пароль)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div><br />

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div><br />

  <div><%= f.label :current_password %> <br />
  <%= f.password_field :current_password %></div><br />

  <div><%= f.submit "Обновить" %></div>
<% end %>

<h3>Удаление аккаунта</h3>

<p>Может останетесь с нами?:) <br /><%= link_to "Удалть мой аккаунт", registration_path(resource_name), :confirm => "Вы уверенны?", :method => :delete %>.</p>
