<% if Task.all.size.eql? 0 %>
  <i><h4>Нет задач</h4></i>
<% else %>
<table>
  <tr>
    <th><%=t("Title")%></th>
    <th></th>
    <% if can? :all, Task %>
    <th></th>
    <% end %>
  </tr>

<% @tasks.each do |task| %>
  <tr class='<%= cycle('even', 'odd') %>'>
    <td id='title'><%= link_to task.title, task %></td>
    <% if can? :all, Task %>
      <td id="edit"><%= link_to t('Edit'), edit_task_path(task) %></td>
      <td id="destroy"><%= link_to t('Destroy'), task, confirm: t('Are you sure?'), method: :delete %></td>
    <% end %> 
  </tr>
<% end %>
</table>
<% end %>

<% if can? :all, Task %>
  <br />
  <%= link_to t('New Task'), new_task_path %>
<% end %>




