
<table>
  <tr>
    <th><%=t("Title")%></th>
    <th><%=t("Body")%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr class='<%= cycle('even', 'odd') %>'>
    <td><%= task.title %></td>
    <td><%= task.body %></td>
    <td><%= link_to t('Show'), task %></td>
    <td><%= link_to t('Edit'), edit_task_path(task) %></td>
    <td><%= link_to t('Destroy'), task, confirm: t('Are you sure?'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New Task'), new_task_path %>


