<div class="content">

<p><h3><%= @task.title %></h3></p>

<p>
  <h4><%=t("Body")%></h4>
  <%= @task.body %>
</p>

<h4><%=t("Ваши задачи")%> </h4>
  <% @task.requests.each do |request| %>
    <table>
    <tr>
    <% if request.user_id == current_user.id %>
      <td class='cr_re'><%= link_to request.title, task_request_path(@task, request) %></td>
    <% end %> 
    </tr>
    </table>
  <% end %>

<%= link_to "Создать новую задачу", new_task_request_path(@task, @request), :class => 'button spade' %>
<br /><br />
<%= link_to t('Back'), tasks_path, :class => 'button light' %>

</div>

