<div class="content">

<p><h3><%= @task.title %></h3></p>

<p>
  <h4><%=t("Body")%></h4>
  <%= @task.body %>
</p>

<%= link_to "Посмотреть все задачи", task_requests_path(@task), :class => 'button spade' %>
<%= link_to "Создать новую задачу", new_task_request_path(@task, @request), :class => 'button spade' %>
<br /><br />
<%= link_to t('Back'), tasks_path, :class => 'button light' %>

</div>

