<div class="content">

<p><h3><%= @task.title %></h3></p>

<p>
  <h4><%=t("Body")%></h4>
  <%= @task.body %>
</p>

<%= link_to t('Edit'), edit_task_path(@task) %> |
<%= link_to t('Back'), tasks_path %>

</div>

<div class="sidebar">
  <ol>
    <h4><%=t("Criterions")%></h4>
    <% if @task.criterions.size.eql? 0 %>
       <i><h5>Нет связаных критериев</h5></i>
    <% else %>
      <% @task.criterions.each do |criterion| %>
          <li><%= link_to criterion.title, criterion %></li>sadas
      <% end %>
    <% end %>
  </ol>
</div>


