<div class="content">

<p><h3><%= @criterion.title %></h3></p>

<p>
  <h4><%=t("Body")%></h4>
  <% if @criterion.body.eql? ""%>
    <i><%=t("Нет описания")%></i> 
  <% else %>
    <%= @criterion.body %>
  <% end %>
</p>
<% if can? :all, Category %>
  <%= link_to t('Edit'), edit_manage_criterion_path(@criterion), :class => 'button spade' %>
<% end %>  
<%= link_to t('Back'), manage_criterions_path, :class => 'button light' %>
</div>

<div class="sidebar">
  <ol>
    <h4><%=t("Categories")%></h4>
    <% if @criterion.categories.size.eql? 0 %>
       <i><h5>Нет связанных категорий</h5></i>
    <% else %>
       <% @criterion.categories.each do |category| %>
        <li><%= link_to category.title, category %></li>
       <% end %>
    <% end %>  
  </ol>
  
  <ol>
    <h4><%=t("Tasks")%></h4>
    <% if @criterion.tasks.size.eql? 0 %>
       <i><h5>Нет связанных задач</h5></i>
    <% else %>
      <% @criterion.tasks.each do |task| %>
        <li><%= link_to task.title, task %></li>
      <% end %> 
    <% end %> 
  </ol>
</div>


