<%= semantic_nested_form_for [@task, @request, @danger_request ,@danger_request_user] do |f| %> 

  <h3><%= @danger_request.danger(:danger_id).title %></h3>  
  
  <%= f.input :value, :as => :string %><br />
  
  <div class='danger_aftermath_fields'>
    <%= f.fields_for :aftermaths, :html => {  } do |aftermath_form| %>
      <%= aftermath_form.input :aftermath, :label => I18n.t('activerecord.attributes.danger.aftermath') %>
      <%= aftermath_form.link_to_remove "Remove this" %>
    <% end %> 
    <div class='link_add_aftermath'><%= f.link_to_add t("Add Aftermath"), :aftermaths %></div>
  </div>
  
  <%= f.action :submit, :as => :button, :button_html => { :class => 'button spade'} %>
  <%= f.action :cancel, :as => :link, :button_html => { :class => 'button light'} %> 
  
<% end %>
