<div class="content">

<p><h3><%= @danger.title %></h3></p>

<p>
  <h4><%=t("Body")%></h4>
  <% if @danger.body.eql? ""%>
    <i><%=t("Нет описания")%></i> 
  <% else %>
    <%= @danger.body %>
  <% end %>
</p>
<% if can? :all, Danger %>
  <%= link_to t('Edit'), edit_manage_danger_path(@danger), :class => 'button spade' %>
<% end %>  
<%= link_to t('Back'), manage_dangers_path, :class => 'button light' %>
</div>



