<% if can? :all, User %>
<table>
  <tr>
    <th><%=t("Id")%></th>
    <th><%=t("e-mail")%></th>
    <th><%=t("Roles")%></th>
    <th></th>
  </tr>



<% @users.each do |user| %>
  <tr class='<%= cycle('even', 'odd') %>'>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td>
      <% if user.roles.any? %>
        <% user.roles.each do |role|%>
          <%= role %><br />
        <% end %>
      <% else %>  
        <i>Нет ролей</i>
      <% end %>
    </td>
<td><%= link_to t('Edit'), edit_user_path(user) %></td>
  </tr>
  
<% end %>

</table>
<% end %>

