<%= semantic_nested_form_for @criterion do |f| %>
  <% if @criterion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterion.errors.count, "error") %> prohibited this criterion from being saved:</h2>
      <ul>
      <% @criterion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  
  

  <%= f.input :title %>   
  <%= f.input :body, :as => :text %>   
   
  <h4><%=t("Performance criterion")%></h4>

  <%= f.input :answer, :label => false, :as => :radio, :collection => { 'Количественный' => 'a1', 'Качественный' => 'a2' }, :input_html => { :class => 'criterion_answer' } %>



  <div class='criteria_level_fields'>
    <%= f.fields_for :levels, :html => {  } do |level_form| %>
      <%= level_form.input :level, :label => I18n.t('activerecord.attributes.criterion.level') %>
      <%= level_form.link_to_remove "Remove this" %>
    <% end %> 
    <div class='link_add_criterion'><%= f.link_to_add t("Add Level"), :levels %></div>
  </div>
   
  <%= f.input :tasks, :as => :check_boxes %>

  <%= f.action :submit, :as => :button %>
  <%= f.action :cancel, :as => :link %>
  



<% end %>

