
<table>
  <tr>
    <th><%=t("Title")%></th>
    <th><%=t("Body")%></th>
    <th><%=t("Tasks")%></th>
    <% if can? :all, Criterion %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @criterions.each do |criterion| %>
  <tr class='<%= cycle('even', 'odd') %>'>
        
    <td><%= criterion.title %></td>
    <td><%= criterion.body %></td>
    <td><% criterion.tasks.each do |task| %>
      <%= task.title %><br />
    <% end %></td>
    <% if can? :all, Criterion %>
      <td><%= link_to t('Edit'), edit_criterion_path(criterion) %></td>
      <td><%= link_to t('Destroy'), criterion, confirm: t('Are you sure?'), method: :delete %></td>
    <% end %>

  </tr>
<% end %>
</table>

<% if can? :all, Criterion %>
  <br />
  <%= link_to t('New Criterion'), new_criterion_path %>
<% end %>
