
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>tasks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @criterions.each do |criterion| %>
  <tr>
    <td><%= criterion.title %></td>
    <td><%= criterion.body %></td>
    <td><% criterion.tasks.each do |task| %>
      <%= task.title %>
    <% end %></td>
    <td><%= link_to 'Show', criterion %></td>
    <td><%= link_to 'Edit', edit_criterion_path(criterion) %></td>
    <td><%= link_to 'Destroy', criterion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>




<br />

<%= link_to 'New Criterion', new_criterion_path %>
