<div class="content">

<p><h3><%= @danger.title %></h3></p>

<p>
  <h4><%=t("Body")%></h4>
  <% if @danger.body.eql? ""%>
    <i><%=t("Нет описания")%></i> 
  <% else %>
    <%= @danger.body %>
  <% end %>
</p>
<%= link_to t('Back'), dangers_path, :class => 'button light' %>
</div>


