<div class="content">

<p><h3><%= @danger.title %></h3></p>

<p>
  <h4><%=t("Body")%></h4>
  <% if @danger.body.eql? ""%>
    <i><%=t("Нет описания")%></i> 
  <% else %>
    <%= @danger.body %>
  <% end %>
</p>
<%= link_to t('Back'), dangers_path, :class => 'button light' %>
</div>

<div class="sidebar">
  <ol>
    <h4><%=t("Tasks")%></h4>
    <% if @danger.tasks.size.eql? 0 %>
       <i><h5>Нет связанных задач</h5></i>
    <% else %>
      <% @danger.tasks.each do |task| %>
        <li><%= link_to task.title, task %></li>
      <% end %> 
    <% end %> 
  </ol>
</div>


